body{
    background-color: rgb(255, 211, 182);
}
header{
    background-color: rgb(220, 164, 124);
    text-align: center;
    color:  rgb(114, 4, 85);
    font-size: larger;
}
#hobby{
    background-color: rgb(252, 248, 243);
    color:rgb(3, 6, 55);
    text-align: start;
    font-size:1.5rem;
}