*{
    margin : 0px;
    padding: 0px;
}
body {
    background-color: rgb(255, 211, 182);
    color: (60, 7, 83);
}

header {
    background-color: rgb(220, 164, 124);
    color: rgb(114, 4, 85);
    text-align: center;
    font-size: larger;
    font-family: Georgia;
    border-style:hidden;
    border-radius:10px;
    height: 60px;

}

main {
    background-color: rgb(252, 248, 243);
    color:rgb(3, 6, 55); 
    border-style: hidden;
    border-radius: 10px;
    border-width: 5px;
    margin-bottom: 5px;
  
    
}

footer {
    background-color: rgb(105, 132, 116);
    color: rgb(50, 30, 30);
    text-align:center;
    font-size: 25px;
    border-style: solid;
    border-color:rgb(50, 30, 30);
    border-radius: 10px;
    margin-top:8px;
}
#profile-picture{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:10%;  
}
#intro{
    font-weight:300;
    font-family: arial;
    font-size: 1.2rem;
}
#hello{
    font-family:Brush Script MT;
}
nav{
    line-height: 48px;
    display:inline;
    gap:100px;
  
}
#edu{
    text-decoration: none;
    font-weight: bolder;
    font-size: 19px;
    height: 100px;
    width:100px;
    border-style: dashed;
    border-radius:50%;
    background-color: rgb(220, 164, 124) ;
    border-color:rgb(50, 30, 30);
    text-align: center;
   padding:30px;
   text-decoration: none;
   
}
#hobbies{
    text-decoration: none;
    font-weight: bolder;
    font-size: 19px;
    height: 100px;
    width:100px;
    border-style: dashed;
    border-radius:50%;
    background-color: rgb(220, 164, 124) ;
    border-color:rgb(50, 30, 30);
    text-align: center;
   padding:30px;
   text-decoration: none;

}
#achievement{
    text-decoration: none;
    font-weight: bolder;
    font-size: 19px;
    height: 100px;
    width:100px;
    border-style: dashed;
    border-radius:50%;
    background-color: rgb(220, 164, 124) ;
    border-color:rgb(50, 30, 30);
    text-align: center;
   padding:30px;
   text-decoration: none;
}
#project{
    text-decoration: none;
    font-weight: bolder;
    font-size: 19px;
    height: 100px;
    width:100px;
    border-style: dashed;
    border-radius:50%;
    background-color: rgb(220, 164, 124) ;
    border-color:rgb(50, 30, 30);
    text-align: center;
   padding:30px;
   text-decoration: none;
}
