* {
    margin: 0;
    font-family: arial;
    box-sizing: border-box; 
}
/* navbar */
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/*navbar box1*/
.nav_logo {
    height: 50px;
    width: 130px;
}
.logo_nav {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border {
    border: 2px solid transparent;
}
.border:hover {
    border: 2px solid white;
}
/* navbar box2 */
.add_map {
    display: flex;
    align-items: center;
    margin-left:6px;
}
.deliver {
    font-size: 0.87rem;
    color: #CCCC;
    margin-left: 5px;
}
.indi {
    font-size: 1rem;
    color: #FFFF;
}
/* navbar box3 */
.nav_search {
    display: flex;
    width:620px;
    height:40px;
    border-radius:5px;
    justify-content: space-evenly;
}
.nav_search:hover{
    border:1.9px solid orange;
}
.Search_select{
    width:50px;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border:none;
}
.Search_option{
    width:100%;
    font-size:1rem;
    border:none;

}
.Search_icon{
    width:45px;
    display:flex;
    justify-content: center; 
    align-items: center;
    font-size: 1.2rem;
    background-color:#febd68;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    color:#0f1111;
}
/* navabar box4*/
.language{
    height:40px;
    width:80px;
    display:flex;
    justify-content: center;
    border-radius:5px;
}
.lang{
    display:flex;
    justify-content: center;
    align-items: center;
    width:50px;
    background-color:#0f1111;
    color:#f3f3f3;
    border:none;
}
.language_icon{
    width:45px;
    display:flex;
    justify-content: center; 
    align-items: center;
    font-size: 1.2rem;
    color:#f3f3f3;
}
/*navbar box5*/
.account_list {
    width: 150px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding:5px;
}

.hello {
    width: 80px;
    height: 15px;
    background-color: #0f1111;
    color: #f3f3f3;
    font-size: 12.5px;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-top: 2px;
    margin-left: 5px;
}

.list {
    width: 114px;
    height:15px;
    background-color: #0f1111;
    color: #f3f3f3;
    font-size: 12.8px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border: none;
    margin-top: 2px;
}
/*navbar box6*/
.returns {
    width: 150px;
    height: 50px;
    justify-content: space-between;
    padding:5px;
}
.order{
    height:15px;
    width:82px;
    background-color: #0f1111;
    color: #f3f3f3;
    font-size: 12.8px;
    justify-content: center;
    text-align: start;
    font-weight: 700;
    border: none;
    margin-top: 3px;
    margin-left: 5px;
}
/*navbar box7*/
.cart i{
    font-size:30px;
    
}
.cart{
    font-size:0.85rem;
    font-weight: 700px;
    width: 150px;
    height: 50px;
    padding:7px;
}

/*pannel*/
.Pannel{
    height:40px;
    background-color: #222f3d;
    display:flex;
    color:#f3f3f3;
    align-items:center;
}
.Menu{
    display:flex;
    width:80%;
    font-size: 14px;
    justify-content: left;
    gap:20px;
    margin-right: 50px;
    margin-left:30px;
}
.all{
    width:60px;
    padding-top:6px;
    padding-right:8px;
    text-align: start;
    margin-left: 15px;
}
/*herosection*/
.hero_section{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hero_message{
    background-color: white;
    color:black;
    height : 40px;
    width:80%;
    font-size: 14px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom:25px;
}
.hero_message a{
    color:rgb(1, 1, 67);
    text-decoration: none;
}
/*shopping*/
.box{
    height:400px;
    width:23%;
    background-color: white;
    padding:20px 0px 15px;
    margin-top:30px;
    margin-bottom:5px;
}
.box:hover{
    border:1.9px solid orange;
}
.shopping1{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.boximage{
    background-size: cover;
    height:85%;
    margin-top:1rem;
    margin-left: 1rem;
    margin-right:1rem;
}
a{
    text-decoration: none;
}
/*footer*/
.footer{
    margin-top: 30px;
}
.footer_pannel1 {
    height:50px;
    width: 100%;
    background-color: #37475a;
    color: white;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items:center;
    font-size: 0.85rem;
}
.footer_pannel2{
    height:500px;
    color:#dddddd;
    background-color: #333333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left:20px;
   
}
.foot{
    border : none;
    height:300px;
    width:25%;
    align-items: center;
    text-align: start;
    gap:4px;
    font-size: 16px;
    line-height:2;
}
.foot_pannel3{
    height:55px;
    background-color:#0f1111;
    color:#dddddd;
}
.cosumer{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:6px;
}
.copyright{
    display:flex;
    justify-content: center;
    align-items: center;
}