* {
    margin: 0;
    font-family: arial;
    box-sizing: border-box; /* Corrected property */
}
/* navbar */
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav_logo {
    height: 50px;
    width: 130px;
}
.logo {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border {
    border: 2px solid transparent;
}
.border:hover {
    border: 2px solid white;
}
/* box2 */
.add_map {
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.deliver {
    font-size: 0.87rem;
    color: #CCCC;
    margin-left: 15px;
}
.indi {
    font-size: 1rem;
    color: #FFFF;
}
/* search */
.search {
    display: flex;
    align-items: center;
}
.box1{
    height: 40px;
    border-radius:10%;

}
.box2{
    height: 40px;
    width:720px;
    border-radius:10%;
}

.add_search{
    background-color: rgb(255, 178, 0);
    color:#0F1111;
    height:40px;
    width:30px;
    align-items: center;
    border-radius:8%;
}
   


